/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1{
  height: 200px; /* 高さ200px */
  background-image: url(演習6章/box1.jpg);
  background-size: cover;
  background-position: center;
}

.box2{
  height: 200px; /* 高さ200px */
  background-image: url(演習6章/box2.jpg);
  background-size: cover;
  background-position: center;
}

.box3{
  height: 200px; /* 高さ200px */
  background-image: url(演習6章/box3.jpg);
  background-size: cover;
  background-position: center;
}

.box4{
  height: 200px; /* 高さ200px */
  background-image: url(演習6章/box4.jpg);
  background-size: cover;
  background-position: center;
}

.box5{
  height: 200px; /* 高さ200px */
  background-image: url(演習6章/box5.jpg);
  background-size: cover;
  background-position: center;
}